@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #224961 url(./img/bg2.jpg) no-repeat center center/cover;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 300px;
  margin: auto;
  transform: scale(1);
}

.gradient-container {
  background: conic-gradient(
    #f73f52 0%,
    #f73f52 40%,
    #7986c7 40%,
    #7986c7 60%,
    #ffea85 60%,
    #ffea85 100%
    );
  width: 320px;
  height: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
}
.gradient-container-blur {
  background: conic-gradient(
    #f73f52 0%,
    #f73f52 40%,
    #7986c7 40%,
    #7986c7 60%,
    #ffea85 60%,
    #ffea85 100%
    );
  width: 320px;
  height: 320px;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: -2;
  border-radius: 50%;
  filter: blur(15px);
}

.circle{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #013749;
  z-index: -1;
  border-radius: 50%;
}

/* 设置一个从圆心出发的 类似指针的pointer container */
.pointer-container{
  position: absolute;
  top: -40px;
  left: 140px;
  width: 20px;
  height: 190px;
  animation: rotate 7.5s linear forwards infinite;
  transform-origin: bottom center;
}

.pointer{
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: block;
}

.container.grow{
  animation: grow 3s linear forwards;
}

.container.shrink{
  animation: shrink 3s linear forwards;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

@keyframes grow{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

@keyframes shrink{
  from{
    transform: scale(1.2);
  }
  to{
    transform: scale(1);
  }
}